extends layout/index

block content
  h2=title
  p=text
  form.add-newitem
    input.input-sm(type='text', name='task', id='task', placeholder='Add a new task...', autofocus)
    button.btn.btn-sm.btn-primary(type='submit') Add
  .container
    .row
      .col-md-offset-2.col-md-8
        ul.ul-items
          each item in items
            li.li-item
              button.btn.btn-sm.btn-success.done-task Done
              p.li-text #{ item.task }
              button.btn.btn-sm.btn-danger.del-task(data=`${ item.id }`) Delete


